body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: rgb(227, 120, 49);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header img {
    width: 60px;
    height: 60px;
}

header h1 {
    font-size: 28px;
    color: white;
    margin: 0;
}

.icon-list {
    list-style: none;
    display: flex;
    gap: 80%;
    margin-right: 150px;
    margin-bottom: 40px;
    padding: 0;
}

.icon-list li {
    width: 20px;
    height: 20px;
}

.icon-list button{
    background: none;
    border-style: none;
}

main {
    padding: 20px;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: left;
}

form input {
    width: 95.5%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button, #logoutButton {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

form button:hover, #logoutButton:hover {
    background-color: #45a049;
}